.bio {
  // center
  margin: 0 auto;
  max-width: $reg-width;
  margin-bottom: 50px;
  overflow: hidden;
}

@include media-query($on-palm) {
  .bio {
    max-width: $palm-width
  }
}



.bio__header {
  margin-bottom: 20px;
  font-weight: 700;

  a {
  	text-decoration: none;

  	&:hover {
  		text-decoration: none;
  	}
  }
}

.bio__social {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
}

.bio__photo {
  text-align: center;
}

#fuji {
  float:right;
  max-width: 54%;
  margin: 0 0 0 1em;
}
