@tailwind base;

@layer base {
	:root {
		color-scheme: light;
		--theme-bg: #F5F5F5;
		--theme-link: #222222;
		--theme-text: #222222;
		--theme-accent: #222222;
		--theme-accent-2: #820000;
		--theme-quote: #222222;
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: #222222;
		--theme-link: #f4f3f2;
		--theme-text: #f4f3f2;
		--theme-accent: #f4f3f2;
		--theme-accent-2: #41644A;
		--theme-quote: #f4f3f2;
	}

	html {
		@apply h-full scroll-smooth border-t-2 border-textColor;
	}

	html body {
		@apply mx-auto flex h-full max-w-3xl flex-col bg-bgColor px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased;
	}
}

/* mine */
/* ul {
	list-style-type: none;
  } */
  
#socials li:before {
	content: '\2014';
}
/* ul li:before {
content: '\2014';
} */

@tailwind components;
@tailwind utilities;
